body {
  background: #dae0e6;
}

* {
  /* border: solid 1px yellowgreen; */
  box-sizing: border-box;
}

#root {
  /* width: 800px; */
  /* margin: 0 auto; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* margin: 0; */
  /* padding: 0; */
}

h1 {
  text-align: center;
}

h1, h2, h3, .ratings-container p {
  color: #2e2d2d;
}

p {
  color: #6e6e6e;
}

img {
  max-width: 100%;
}

/*******************************************************************************************/
/* NAV */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: lightslategray;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: solid 1px red; */
  height: 3em;
  width: 100%;
  padding: .5em;
}

.searchField {
  background: #dae0e6;
  /* border: solid 1px green; */
  border: none;
  border-radius: .5em;
  padding: .5em;
  /* color: black; */
  width: 50%;
  max-width: 20em;
}

.subreddit-title {
  font-size: 1.5em;
  margin: 0;
}

.app-aside {
  padding-top: 3em;
}

.app-articles {
  /* padding-top: 3em; */
}

/*******************************************************************************************/
/* RATINGS */

.ratings-container {
  display: flex;
  flex-direction: column;
  width: 3em;
  padding: 1.5em .5em;
  /* padding-top: 4em; */
  background: #f8f9fa;
  /* border-right: dotted 1px gray; */
  border-radius: .5em 0 0 .5em;
}

.arrow-up, .arrow-down {
  /* border: solid 1px red; */
  padding: 0 .2em 0 .2em;
  width: 2.5em;
  /* padding: 1em; */
}

.ratings-container p {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 .2em;
  margin: 0;
}

/*******************************************************************************************/
/* ARTICLE */

article, .ratings-container, .article-container, .comments-container {
  /* border: solid 1px green; */
}

article {
  display: flex;
  border-radius: .5em;
  margin: .5em;
  /* width: 100%; */
}

.article-container {
  padding: 1em;
  width: 100%;
  background: white;
  border-radius: 0 .5em .5em 0;
}

.header-container {
  display: flex;
  /* padding: 0; */
  margin: 0;
}

.article-container h2 {
  margin: 0 0 .5em 0;
  /* border: solid 1px red; */
}

.article-container h3 {
  margin: 1em 0 .2em 0;
}

.article-container p {
  margin: 0;
}

.header-container a, .header-container p {
  /* padding: .2em; */
  margin: 0;
  /* border: solid 1px red; */
}

.comments-container button {
  padding: .5em 2em;
  margin: .5em .5em 0 0;
  border: none;
  font-weight: bold;
  background: #f8f9fa;
}

/*******************************************************************************************/
/* ASIDE */

#aside {
  background: white;
  border-radius: .5em;
  margin: .5em;
  padding: 1em;
}

#aside h2 {
  margin: 0;
}

#aside ul {
  margin: 0;
  padding: 0;
}

#aside li {
  list-style: none;
  margin: .5em;
}

/*******************************************************************************************/
/* MEDIA QUESRIES */

@media only screen and (min-width:650px) {
  .App {
    display: flex;
    flex-direction: row-reverse;
  }

  .app-articles {
    /* border: solid 1px red; */
    padding-top: 3em;
  }

  .subreddit-title {
    font-size: 2em;
    padding-bottom: .2em;
  }

  .searchField {
    width: 20em;
  }
}

@media only screen and (min-width: 1000px) {
  .App {
    max-width: 1000px;
  }

  nav {
    width: 100%;
    /* border: solid 1px red; */
    /* justify-content: space-evenly; */
  }
  
  .nav-container {
    /* border: soid 1px blue; */
    max-width: 1000px;
    margin: 0 auto
  }
}
