* {
  /* border: solid 1px yellowgreen; */
  box-sizing: border-box;
}

.App {
  background: #dae0e6;
}

.App-nav {
  display: flex;
  justify-content: flex-end;
  background: #0079d3;
  height: 3em;
  padding: .5em;
}
.nav-search {
  border-radius: .5em;
  border: solid 1px gray;
  background: #dae0e6;
}

.App-main {
  /* background: chocolate; */
  min-height: 60vh;
  padding: .5em;
}

.main-aside {
  /* background: #d3d5d8; */
  background: white;
  border-radius: .5em;
  padding: .5em;
}
.main-aside h2 {
  /* border: solid 1px red; */
  margin-left: 1em;
}
.main-aside ul {
  padding: 0;
  /* margin: 0; */
}
.subreddit {
  border: solid 1px gray;
  border-radius: .5em;
  list-style: none;
  padding: .3em;
  padding-left: 1.5em;
  margin: .1em;
}

/******************************************************************************/
/* Articles */

.article {
  display: flex;
  /* align-items: flex-start; */
  background: white;
  border-radius: .5em;
  padding: .5em 1em .5em 0;
  margin: .5em 0;
  width: 100%;
}

.article-score, .article-thumbnail, .article-info, .info-title {
  /* border: solid 1px red; */
}

.score-arrow, .article-score, .score {
  /* border: solid 1px red; */
}

.article-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .2em;
  width: 50px;
}

.score {
  margin: 0;
}
.score-icon, .comments-icon {
  width: 25px;
  height: 25px;
}

.article-thumbnail {
  max-width: 150px;
  max-height: 150px;
  border-radius: .5em;
}
.article-info {
  /* border: solid 1px red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-left: 1em;
}
.info-title {
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* width: 80%; */
}
.info-comments, .comments-icon, .comments {

  /* border: solid 1px red; */
}
.info-comments {
  display: flex;
  align-items: center;
  height: 2em;
}
.comments-icon {
  margin: .5em;
}

.article h2 {
  font-size: 1em;
}