body {
  background: lightgray;
}

* {
  /* border: solid 1px yellowgreen; */
  box-sizing: border-box;
}

#root {
  /* width: 800px; */
  /* margin: 0 auto; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* margin: 0; */
  /* padding: 0; */
}

h1 {
  text-align: center;
}

p {
  color: #575656;
}

img {
  max-width: 100%;
}

/*******************************************************************************************/
/* RATINGS */

.ratings-container {
  display: flex;
  flex-direction: column;
  width: 5em;
  padding: 1em;
  /* padding-top: 4em; */
  background: gray;
  /* border-right: dotted 1px gray; */
  border-radius: .5em 0 0 .5em;
}

.arrow-up, .arrow-down {
  /* border: solid 1px red; */
  padding: 0 .2em 0 .2em;
  height: 2em;
  /* padding: 1em; */
}

.ratings-container p {
  font-size: 1.8em;
  font-weight: bold;
  color: black;
  margin: 0;
}

/*******************************************************************************************/
/* ARTICLE */

article {
  display: flex;
  border-radius: .5em;
  width: 35em;
  margin: .5em;
}

.article-container {
  padding: 1em;
  /* width: 30em; */
  background: white;
  border-radius: 0 .5em .5em 0;
}

.header-container {
  display: flex;
  /* padding: 0; */
  margin: 0;
}

.article-container h2 {
  margin: 0 0 .5em 0;
  /* border: solid 1px red; */
}

.article-container h3 {
  margin: 1em 0 .2em 0;
}

.article-container p {
  margin: 0;
}

.header-container a, .header-container p {
  /* padding: .2em; */
  margin: 0;
  /* border: solid 1px red; */
}

article button {
  padding: .5em 2em;
  margin: .5em .5em 0 0;
}

/*******************************************************************************************/
/* ASIDE */

#aside {
  background: white;
  border-radius: .5em;
  width: 35em;
  margin: .5em;
  padding: 1em;
}

#aside h2 {
  margin: 0;
}

#aside ul {
  margin: 0;
  padding: 0;
}

#aside li {
  list-style: none;
  margin: .5em;
}
